@use 'variables' as *;
@use '../bootstrap/settings' as *;
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}
body {
	background-color: #777;
}
img {
	display: block;
	max-width: 100%;
}
.navbar {
	background-color: var(--bg-intro);
}
.header {
	background-image: url('../images/bg-curvy-mobile.svg');
	background-repeat: no-repeat;
	background-position: bottom;
	background-color: var(--bg-intro);

	h1 {
		font-size: 1.5rem;
		color: var(--clr-white);
		font-family: var(--ff-secondary);
	}
	p {
		margin-inline: 2rem;
		font-size: 0.85rem;
		color: var(--clr-white);
	}
}
